/* BANNER SECTION */
.banner_bg_height {
    min-height: 100.8rem;
}

.banner_bg {
    position: relative;
    z-index: 1;
    background: #333;
    background-position: right center;
    opacity: .5;
}

.wrd_banner_content {
    .sub_title {
        color: $sub_title;
    }

    .title {
        color: $heading_color;
        margin-bottom: 2.5rem;
        font-size: 5rem;
    }

    .text {
        color: $text_color;
        margin-bottom: 3rem;
    }
}

.banner_inner {
    .clients_items {
        position: absolute;
        top: 55%;
        left: 48%;
        width: 19.9rem;
        height: 19.9rem;
        display: table;
        border-radius: 2rem;
        background: $white;
        text-align: center;
        box-shadow: 0 2rem 4rem $btn_shadow_1;
        
        @media #{$mobile}{
            top: 77%;
            left: 3%;
            width: 15.9rem;
            height: 15.9rem;
        }
        .clients_table_cell {
            display: table-cell;
            vertical-align: middle;

            .client_num {
                font-size: 5rem;
                color: $black_color;
                font-weight: weight(bold);
                line-height: 1.5;

            }

            .client_text {
                display: inline-block;
                font-size: 2rem;
                font-weight: weight(bold);
                color: $black_color;
            }
        }
    }

    .project_items {
        position: absolute;
        bottom: 3%;
        right: 5%;
        width: 19.3rem;
        height: 19.3rem;
        border-radius: 50%;
        display: table;
        background: $yellow_bg;
        // padding: 5.7rem 1.6rem;
        text-align: center;
        box-shadow: 0 2rem 4rem $btn_shadow_1;

        @media #{$mobile}{
            bottom: 7%;
            right: 5%;
            width: 15.3rem;
            height: 15.3rem;
        }

        @media #{$wide_mobile}{
            right: 25%;
        }

        .project_table_cell {
            display: table-cell;
            vertical-align: middle;

            .project_num {
                font-size: 3.8rem;
                font-weight: weight(bold);
                color: $black_color;
            }

            .project_text {
                font-size: 1.7rem;
                font-weight: weight(bold);
                color: $black_color;
            }
        }
    }
}